#out_header { background:rgba(8, 24, 73, 0.9); height:36px; }

.ms-header { font-family:'Whitney', sans-serif; }

.container { width:100% !important; max-width:1170px; }
.qa-body-wrapper .row { margin-left:0 !important; margin-right:0 !important; }

.wrap > .container { padding:0 15px 10px; }
.navbar { margin-bottom:0; min-height:36px; position:fixed; width:100%; top:0; z-index:99; }
.navbar-default { background:none; border:none; }

.header { width:100%; padding-top:36px; background-repeat:no-repeat; }

.top { color:#fff; background:rgba(8, 24, 73, 0.9); border-radius:0; }
.top .logo { float:left; }
.top .logo .blue { float:left; margin:7px 0 0 25px; }
.top .logo .text { float:left; margin:12px 0 0 7px; }
.top .navbar-nav > li > a { padding:8px 12px; color:#fff; font-size:110%; }
.top .navbar-nav > li > a:hover, .top .navbar-nav > li > a:focus { color:#08ccff; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background:none; color:#08ccff;
}
.top .navbar-toggle { border:none; margin-top:4px; padding:7px 10px; }
.top .navbar-toggle:hover { background:none; }
.top .navbar-collapse { border:none; }
.top .navbar-collapse ul li { list-style:none; }
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background:#081646; color:#fff;
}
.dropdown-menu { background:#081646; }
.dropdown-menu > li > a { color:#fff; }
.dropdown-menu > li > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { background:#081646; }
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { color:#08ccff; }
.navbar-default .navbar-toggle .icon-bar { background:#fff; }
.navbar-default .navbar-toggle:hover .icon-bar { background:#08ccff; }
.header h1, .header h2 { color:#fff; font-family:'Whitney', sans-serif; line-height:100%; }
.header .release { font-weight:400; }
.header .release .slogan { display:inline-block; margin-bottom:10px; color:#fff; text-shadow:1px 1px 1px #0b215d; }
.index .header h1 { color:#00a0e3; }
.header h1 { font-style:normal; }
.header h2 { line-height:120%; }
.m-toggle-menu { display:none; }
.f-right { float:right; }

.bottom-menu { margin-top:20px; }
.bottom-menu .level1 { font-size:120%; color:#0088cc; }
.bottom-menu .level2 { color:#333333; padding-left:0; font-size:95%; margin-bottom:16px; }
.bottom-menu p.level2 { line-height:2em; margin-top:2px; }
.bottom-menu .level2 li { list-style:none; margin:0; }
.bottom-menu .level2 a { color:#333333; text-decoration:underline; display:inline-block; padding:5px 0; }
.bottom-menu .level2 a:hover { text-decoration:none; }
.bottom-menu .level2 .address { white-space:nowrap; line-height:1.6em; margin-top:3px; display:inline-block; }

.footer { margin-bottom:20px; }
.footer .social_icons a { float:left; margin:5px 10px 0 0; }

.ms_icons_grey { background-image:url('https://microstream.one/media/icons_grey.png?5da04789'); }
.ms_icon_grey_email { width:20px; height:20px; background-position:0 0; }
.ms_icon_grey_location { width:20px; height:29px; background-position:0 -20px; }
.ms_icon_grey_tel { width:20px; height:20px; background-position:0 -49px; }
.ms_icon_grey_linkedin { width:23px; height:22px; background-position:-20px 0; }
.ms_icon_grey_twitter { width:23px; height:22px; background-position:-43px 0; }
.ms_icon_grey_stackof { width:23px; height:22px; background-position:-66px 0; }
.ms_icon_grey_youtube { width:23px; height:22px; background-position:-89px 0; }
.ms_icon_grey_github { width:28px; height:22px; background-position:-20px -22px; }
.ms_icon_grey_facebook { width:14px; height:22px; background-position:-48px -22px; }

/* header background */
@media screen and (max-width:767px) {
    .dropdown-menu > li > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        background:transparent;
    }
    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
        background:transparent;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color:#fff;
        background:transparent;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        color:#08ccff;
    }
}

@media screen and (min-width:768px) and (max-width:799px) {
    .top .navbar-nav > li > a { padding:8px 5px; }
}

@media screen and (max-width:767px) {
    .top { border-radius:0; }
    .top .navbar-collapse.collapse {
        background-color:rgba(8, 24, 73, 0.9);
        border:none;
        position:absolute;
        right:15px;
        top:35px;
        z-index:99;
    }
    .top .navbar-collapse.collapse ul.navbar-nav { border:none; }
    .top .navbar-collapse.collapse ul li { border:none; }
    .top .navbar-collapse.collapse ul li a { margin:0 10px; }
}

@media screen and (min-width:800px) and (max-width:1023px) {
    .top .navbar-nav > li > a { padding:8px 6px; }
}
